body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.footer,
.hero {
    background-color: darkslateblue;
}

.hero {
    display: flex;
    flex-direction: column;
    color: #f9faf8;
    /*padding: 0 88px;*/
    gap: 72px;
    align-items: center;
    padding-bottom: 72px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    text-decoration: none;
}

.logo-container:visited {
    text-decoration: none;
    color: #f9faf8;
}

.logo-container {
    display: flex;
    gap: 8px;
    text-decoration: none;
    align-items: center;
    text-transform: uppercase;
    color: #f9faf8
}

.logo-container img {
    height: 50px;
    width: auto;
}


.title {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

.navigation {
    display: flex;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    gap: 16px;
    font-size: 18px;
}

.navigation a {
    text-decoration: none;
    color: #f9faf8;
}

.navigation a:hover {
    background-color: purple;
}

.main img {
    height: 300px;
    width: auto;
    flex-grow: 0;
    border-radius: 12px;
}

.main {
    display: flex;
    justify-content: center;
    width: 75%;
    gap: 36px;
    align-items: center;
}

.main .text {
    display:flex;
    flex-wrap: wrap;
    width: 50%;
    gap: 8px;
}

.primary {
    font-size: 48px;
    font-weight: bolder;
}

.secondary {
    font-size: 18px;
    color: #e5e7eb;
}

button {
    background-color: rgb(155, 87, 233);
    color: #f9faf8;
    font-weight: bold;
    border-radius: 8px;
    padding: 4px 16px;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 72px 0;
}

.information .title {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    margin-bottom: 36px;
}

.cells {
    display: flex;
    justify-content: center;
    width: 60%;
    gap: 36px;
}

.cell {
    text-align: center;
    width: 150px;
}

.cell img {
    width: 150px;
    height: 150px;
    border: 2px solid  rgb(155, 87, 233); 
    border-radius: 12px;
}

.cell p {
    margin: 4px 0;
    color: rgb(92, 90, 90)
}

.quote-section {
    background-color: #e5e7eb;
    padding: 36px 25% 72px 25%;
}

.quote-section .quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1f2937;
}

.quote-section .author {
    font-weight: bold;
    text-align: right;
}

.call-to-action {
    padding: 72px 12.5%;
}

.call-to-action .banner {
    background-color: rgb(155, 87, 233);
    display: flex;
    justify-content: space-between;
    padding: 32px 8%;
    border-radius: 12px;
    color: #f9faf8;

}

.call-to-action button {
    border: 2px solid #f9faf8;
}

.call-to-action .top {
    font-weight: bold;
}

.footer {
    color: #f9faf8;
    text-align: center;
    padding: 24px;
}

.footer a {
    color: #f9faf8;
}

.footer a:visited {
    color: #f9faf8;
}